.git
.gitignore
.dockerignore
.vscode
.idea
.DS_Store
.astro

node_modules
dist
build

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

docker-compose.yml
entrypoint.sh
sonar-project.properties
cookie.txt
LICENCE.md
README.md

mono-application
mono-common
mono-domain
mono-infrastructure

Portfolio2
