# Dependencias
node_modules/
.pnp
.pnp.js

# Construcción
dist/
build/
.astro/

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos de entorno
.env
.env.dev
.env.pre
.env.pro
.env.*.local

# Editor / IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema operativo
.DS_Store
Thumbs.db
