services:
  app:
    image: oven/bun:latest
    working_dir: /app
    volumes:
      - ./:/app
    command: >
      sh -c "bun install && bun run build && bun run start"
    ports:
      - "4173:4173"
    environment:
      NODE_ENV: production
    networks:
      - reverse-proxy
