@font-face {
  font-family: "Onest";
  src: url("/Onest-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Onest", Times, serif;
  font-size: 15px;
  font-weight: 300;
  color: var(--light-theme-secondary-text);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --blue: rgb(149, 217, 210);
  --light-theme-primary-text: #323232; /*323232*/
  --light-theme-secondary-text: #646464; /*646464*/
  --light-theme-tertiary-text: #eeeeee; /*eeeeee*/
}

/* Animations */

.animation-appear {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fast {
  animation-duration: 0.4s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  will-change: opacity;
}
