---
import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import Backend from "@/components/Backend.astro";
---

<main>
  <Hero />
  <About />
  <Experience />
  <Projects />
  <Skills />
  <Education />
  <Backend />
</main>
